<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
 
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost/postgres</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">AZaz09$$</property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL82Dialect</property>
        
      <!-- create, update, create-drop, validate -->
        <property name="hbm2ddl.auto">create</property>
        <property name="hibernate.default_schema">public</property>
        <property name="show_sql">true</property>
 	  <!-- second level cache, ehcache -->
 	 	<!-- <property name="hibernate.cache.use_second_level_cache">true</property>
        <property name="hibernate.cache.region.factory_class">org.hibernate.cache.ehcache.EhCacheRegionFactory</property>
        <property name="net.sf.ehcache.configurationResourceName">ehcache.xml</property>
 		
 		<property name="hibernate.cache.use_query_cache">true</property>
  -->
 
        <mapping class="advance.test.Employee"/>
        <mapping class="advance.test.Address"/>
     <!--  <mapping resource="subclass-per-table.xml"/>
       <mapping resource="association-one-to-many.xml"/>
        <mapping resource="association-one-to-many-parts.xml"/> -->
    </session-factory>
</hibernate-configuration>